
@{
    ViewBag.Title = "cause";
}

<style>
    .aboutimg {
        height: 60vh;
        min-height: 500px;
        background-image: url('../../img/cause.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
    }
    .showcase .showcase-text {
    padding: 7rem;
    }

    .showcase .showcase-text {
    padding: 3rem;
    }
    .overlay-div {
        height: 60vh;
        min-height: 500px;
        width: 100%;
        position: absolute;
        background-color: #000;
        opacity: .7;
    }

    .setsizeimg {
        max-height: 100px;
        max-width: 100px;
    }
</style>
<div class="aboutimg">
    <div class="overlay-div"></div> <!-- the new div -->
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <p class="lead text-white">The Causes of VGA</p>
                <h1 class="font-weight-light text-white ">We Care Your Problems</h1>
            </div>
        </div>
    </div>
</div>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../img/camera-1840625_1920.png');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Fully Responsive Design</h2>
                <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('../../img/videocontroller.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Updated For Bootstrap 4</h2>
                <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../img/minecraft.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Easy to Use &amp; Customize</h2>
                <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
            </div>
        </div>
    </div>
</section>