
@{
    ViewBag.Title = "Children and Game Statistics";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<style>
    .aboutimg {
        height: 60vh;
        min-height: 500px;
        background-image: url('../../img/informationbg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .overlay-div {
        height: 60vh;
        min-height: 500px;
        width: 100%;
        position: absolute;
        background-color: #000;
        opacity: .7;
    }

    .setsizeimg {
        max-height: 100px;
        max-width: 100px;
    }

    .chart {
        width: 100%;
        min-height: 350px;
    }

    .showcase .showcase-img {
        min-height: 30rem;
        background-size: cover;
    }

    .call-action {
        width: 160px;
        margin-top: 1em;
    }
</style>

<div class="aboutimg">
    <div class="overlay-div"></div> <!-- the new div -->
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <p class="lead text-white text-uppercase">Children and Game</p>
                <h1 class="font-weight-light text-white ">How do children spend time with game?</h1>
                <a class="btn btn-outline-primary call-action" href="#GamerPercentageChart" onclick="SmoothScrollTo(event)">Gamer Percentage</a>
                <a class="btn btn-outline-primary call-action" href="#AvgGameTimeChart" onclick="SmoothScrollTo(event)">Game Time</a>
                <a class="btn btn-outline-primary call-action" href="#GuidelineChart" onclick="SmoothScrollTo(event)">Guideline</a>
            </div>
        </div>
    </div>
</div>

<section class="page-section" id="services" style="padding-top:40px;background-color:#f8f9fa">
    <div class="container">
        @*<div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Children and Game</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>*@
        <div class="row text-center" style="padding-top:20px; padding-bottom:30px">
            <div class="col-md-4">
                <div class="card shadow p-3 mb-5 bg-white rounded h-100">
                    <div class="card-body">
                        <h4 class="service-heading">Usage by different age groups</h4>
                        <p class="text-muted">
                            Usage of video games by kids between <b>age 5 and 14</b> is very high in the last few years. 
                            <b>More than 80% </b>kids play game regularly in 2019.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow p-3 mb-5 bg-white rounded h-100">
                    <div class="card-body">
                        <h4 class="service-heading">Game time with Age</h4>
                        <p class="text-muted">
                            An average child spends around <b>70 mins per day</b> playing video games, 
                            while the recommended screen time (gaming, watching TV, using tablet, and so on) is only <strong>120 mins per day</strong>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow p-3 mb-5 bg-white rounded h-100">
                    <div class="card-body">
                        <h4 class="service-heading">Recommended guidelines</h4>
                        <p class="text-muted">
                            <b>Very few </b>percentage of <b>kids between 9-12 years</b> old satisfies recommended physical activity
                            and screen time guidelines.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="showcase">
    <div class="container">
        <div class="row mb-3 mt-3 pb-3" style="border-bottom: 1px solid #cfcfcf">
            <div id="GamerPercentageChart" class="chart col-lg-6 order-lg-2"></div>
            <div class="col-lg-6 order-lg-1 pt-3">
                <h3>Percentage of Gamer within Age Groups</h3>
                <p class="lead mb-0"><b>More than 80%</b> of kids with <b>age between 5 and 14</b> years old play video games on a regular basis.</p>
            </div>
        </div>

        <div class="row mb-3 pb-3" style="border-bottom: 1px solid #cfcfcf">
            <div id="AvgGameTimeChart" class="chart col-lg-6"></div>
            <div class="col-lg-6 pt-3">
                <h3>Game Time for Different Age Groups</h3>
                <p class="lead mb-0">On an average, a child in <b>age group 5 to 14</b> can spend around <b>70 mins per day</b> playing video games. 
                <b>Recommended</b> total screen time is <b>120 minutes</b> by AIHW. Around 60% of daily recommended sccreen time is spent in gaming. </p>
            </div>
        </div>

        <div class="row mb-3">
            <div id="GuidelineChart" class="chart col-lg-6 order-lg-2"></div>
            <div class="col-lg-6 order-lg-1 pt-3">
                <h3>Physical Activity and Screen Time Guideline</h3>
                <p class="lead mb-0"><b>Only 30% </b>of children in <b>age group 9-12 years</b> meet recommended daily screen time, 
                <b>less than 20%</b> meet the recommended <b>physical activity*</b> and only around <b>5% met both criteria</b> as defined by AIHW.</p>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawGamerPercentAgeGroupChart);
    google.charts.setOnLoadCallback(drawAvgGameTimeByYear);
    google.charts.setOnLoadCallback(drawRecommendActivity);

    // When browser window is resized, redraw all the charts
    window.onresize = function () {
        drawGamerPercentAgeGroupChart();
        drawAvgGameTimeByYear();
        drawRecommendActivity();
    }

    function drawGamerPercentAgeGroupChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Age Group');
        data.addColumn('number', '2015');
        data.addColumn('number', '2017');
        data.addColumn('number', '2019');
        data.addRows([
            ["1-4", 0.39, 0.36, 0.25],
            ["5-14", 0.91, 0.9, 0.81],
            ["15-24", 0.84, 0.82, 0.83],
            ["25-34", 0.85, 0.75, 0.75],
            ["35-44", 0.76, 0.69, 0.63]
        ]);

        var options = {
            title: 'Percentage of Gamer Within Each Group',
            titleTextStyle: { bold: false, fontSize: 18 },
            colors: ["#ef5255", "#e1e7e7", "#07abcc"],
            fontName: 'Roboto',
            chartArea: { left: 60, top: 50, width: '90%', height: '73%' },
            legend: { position: 'in', alignment: 'end' },
            animation: { startup: true, duration: 2000 },
            hAxis: { title: 'Age Group' },
            vAxis: { format: 'percent', gridlines: { color: 'white' } }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('GamerPercentageChart'));
        chart.draw(data, options);
    }

    function drawAvgGameTimeByYear() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', "Age Group");
        data.addColumn('number', "2015");
        data.addColumn('number', "2017");
        data.addColumn('number', "2019");
        data.addRows([
            ["1-4", 45, 25, 82.5],
            ["5-14", 91, 86.5, 71.5],
            ["15-24", 117, 120.5, 105.5],
            ["25-34", 92.5, 99.5, 91.5],
            ["35-44", 80, 82.5, 75]
        ]);

        var options = {
            title: 'Daily Average Game Time by Age Groups',
            titleTextStyle: { bold: false, fontSize: 18 },
            fontName: 'Roboto',
            colors: ["#ef5255", "#e1e7e7", "#07abcc"],
            pointSize: 5,
            curveType: 'function',
            chartArea: { left: 60, top: 50, width: '90%', height: '73%' },
            legend: { position: 'in', alignment: 'end' },
            vAxis: { title: "Duration (mins)", gridlines: { color: 'white' } },
            hAxis: { title: "Age Group" }
        };

        var chart = new google.visualization.LineChart(document.getElementById('AvgGameTimeChart'));
        chart.draw(data, options);
    }

    function drawRecommendActivity() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', "Recommendation");
        data.addColumn('number', "Age 5-8");
        data.addColumn('number', "9-12");
        data.addColumn('number', "13-14");
        data.addColumn('number', "15-17");
        data.addRows([
            ["Physical activity", 0.36, 0.18, 0.12, 0.06],
            ["Screen time", 0.43, 0.3, 0.24, 0.2],
            ["Both guidelines", 0.2, 0.07, 0.05, 0.02]
        ]);

        var options = {
            title: 'Percentage of Children who Met Physical Activity and Screen Time Guideline',
            titleTextStyle: { fontSize: 18, bold: false },
            colors: ["#e1e7e7", "#ef5255", "#e1e7e7", "#e1e7e7"],
            fontName: 'Roboto',
            chartArea: { left: 60, top: 50, width: '90%', height: '73%' },
            legend: { position: 'in', alignment: 'end' },
            animation: { startup: true, duration: 2000, easing: 'linear' },
            hAxis: { title: 'Met Recommendation Guideline' },
            vAxis: { format: 'percent', gridlines: { color: 'white' } }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('GuidelineChart'));
        chart.draw(data, options);
    }

    // Smooth scroll to a selected section on the same page
    function SmoothScrollTo(event, timelength) {
        // get the ID attribute of the go-to section via href of <a> tag
        var id_section = $(event.target).attr('href');
        var timelength = timelength || 1000;

        $('html, body').animate({
            // -70px so that we can see full header of the section
            scrollTop: $(id_section).offset().top - 70 
        }, timelength, function () {
            window.location.hash = id_section;
        });
    }
</script>